body{
    background-color: #9f3647;
}
#inicio{
    color: aliceblue;
    background-color:rgb(42, 42, 42);
    width: 30%;
    margin:0 auto;
    border-radius: 8px;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font: size 20px;
}



.regi{
    margin: 25px;
    
}

.boton{
    color: aliceblue;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color:#9f3647 ;
}